# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore virtual environment
venv/
env/

# Ignore IDE-specific files (JetBrains IDEs like PyCharm)
.idea/

# Ignore other common files
.DS_Store
*.log
*.sqlite3

# Ignore database config files (if applicable)
config.db
